* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body, 
button, 
input, 
div, 
p, 
span, 
a {
  font-family: 'Times New Roman Cyr', 'Times New Roman', serif;
}

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
  word-wrap: break-word;
  background-color: #cceecc;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15;
}

#app {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
}

button {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}

input:focus,
input {
  outline: none;
}

ul {
  list-style: none;
}

h1 {
  white-space: nowrap;
}
